body {
    font-family: 'Comme', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FCF9ED;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
}

h1,
h2,
h3 {
    font-weight: bold;
}

.logo {
    font-size: 36px;
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    margin: 30px;
}

.article-title {
    font-size: 28px;
}

.article-meta {
    font-size: 14px;
    color: #888;
    margin-top: 5px;
}

img {
    padding: 10px 0
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

iframe {
    padding: 25px 0;
}

figcaption {
    text-align: center;
}

  .kindle img {
    width: 100%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
    padding-bottom: 30px;
  }

  a {
    color: #5ACBFF;
    text-decoration: none;
  }
  
  a:hover {
    color: black; 
    text-decoration: underline;
  }

@media screen and (max-width: 375px) {
    .article-title,
    .article-meta {
        text-align: center;
    }
    header{
        padding: 2em;
    }
}