body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

.logo {
    font-size: 24px;
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    margin: 20px;
}

.article-title {
    font-size: 28px;
}

.article-meta {
    font-size: 14px;
    color: #888;
    margin-top: 5px;
}

img {
    padding: 10px 0
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

iframe {
    padding: 25px 0;
}

figcaption {
    text-align: center;
}